.gradle/
.idea/
.sass-cache/
npm-debug.log
classes/
*.iml
common-ui/
mte/
IS-web/
IS-server/
*.sublime-project
*.sublime-workspace
**/css/*.css.map
*/.sass-cache/
**/node_modules/
**/bower_components/
**/sprites/
main-built.js
mdosa-web/src/main/webapp/js/home/index-built.js
mdosa-web/src/main/webapp/js/login-built.js
mdosa-web/mdosa.log
**/sass/bower
**/css/images
**/css/fonts
**/webapp/WEB-INF/common
mdosa-web/jsonStore.json
mdosa-web/src/main/js/app/test.js
TESTS-*.xml
**/webapp/dist/
**/webapp/css/
out/
build/
.vscode/**
/site/
rebel.xml
iruda-sso/
iruda-develop-*

### (Excel 같은) 문서 열었을 때 Temp파일
~$*

